@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../surfaces/josefin/JosefinSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../surfaces/josefin/JosefinSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans Medium';
    src: url('../surfaces/josefin/JosefinSans-Medium.ttf') format('truetype');
}


.menu {
    display: flex;
    width: 20%;
    height: 90vh;
    background: #BA6DB5;
    color: white;
    flex-direction: column;
    margin: 2%;
    border-radius: 15px;
    position: relative; 
    overflow: hidden; /* Impede que qualquer conteúdo interno vaze para fora dos limites do .menu */
}

.menu .imagem {
    display: flex;
    justify-content: center;
    width: 45%;
    height: 20%;
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; 
    background-color: white;
}

.menu nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .link {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 20px;
    align-items: center; /* Alinha o conteúdo verticalmente */
    width: calc(100% - 40px); /* Reduz a largura para compensar o padding */
    box-sizing: border-box; /* Inclui padding na largura */
    position: relative; /* Permite posicionamento relativo para pseudo-elemento */
    overflow: hidden; /* Impede que o background vaze à esquerda */
    font-family: 'Josefin Sans Medium';
    font-size: 130%;

}

.menu .link:hover {
    color: #BA6DB5;
    background-color: white;
    padding-right: 100% ;
    margin-left: 15%;
    border-radius: 15px 0 0 15px ;
    font-weight: bold;
}


