@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../../../src/josefin/JosefinSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../../../src/josefin/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans Medium';
    src: url('../../../src/josefin/JosefinSans-Medium.ttf') format('truetype');
}

.hoje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hoje h2{
    font-family: 'Josefin Sans Medium';
    color: #ad60a6;
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 8%;
    margin-bottom: -2%;
}

.hoje ul li{
    font-family: 'Josefin Sans Light';
    color: #ad60a6;
    list-style-type: none;
    padding-bottom: 5%;
    padding-top: 5%;
    border-bottom: 3px solid #ad60a6;
    width: 100%;

}