
 .link {
    display: flex;
    color: white;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    font-family: 'Josefin Sans Medium';
    font-size: 120%;
    transition: background-color 0.3s;
    width: 100%;
    text-decoration: none; /* Remover sublinhado */
}

 .link:hover,
 .link.active {
    color: #BA6DB5;
    background-color: white;
    border-radius: 15px 0px 0px 15px;
    font-weight: bold;
    text-decoration: none; /* Remover sublinhado */
    padding-right: calc(100vw - 20px);
    text-decoration: #ffffff;
}

.Link{
    text-decoration: none;
}