@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../../src/josefin/JosefinSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../../src/josefin/JosefinSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans Medium';
    src: url('../../src/josefin/JosefinSans-Medium.ttf') format('truetype');
}

.dashboard_admin{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

.saudacoes{
    font-family: 'Josefin Sans Medium';
    font-size: 150%;
    color: #a75aa1;
}

.saudacoes p{
    font-family: 'Josefin Sans Light';
    font-weight: 550;
    font-size: 70%;
    color: #BA6DB5;

}

.content{
    display: flex;
    flex-direction: column;
}

.agenda{
    margin-top: 10%;
    width: 500px;
    height: 300px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 6px 6px 6px 6px rgb(242, 239, 240);
}

.line{
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    gap: 50%;
}